* {
  margin: 0;
  padding: 0;
}

.login-container {
  height: 100vh;
  width: 100vw;
  background-image: url("/login-banner.jpg");
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  height: 55%;
  width: 30%;
  background-color: white;
}

.bg-color {
  background-color: #f1f8ff;
}

.activityOverViewParentContainer {
  width: 30%;
  height: 50%;
}

.dashboardAppointmentParentContainer {
  width: 70%;
}

.activityOverViewContainer1 {
  background-color: #a4d2ff;
}

.activityOverViewContainer2 {
  background-color: #a4ffbd;
}

.activityOverViewContainer3 {
  background-color: #fff598;
}

.activityOverViewContainer4 {
  background-color: #cca4ff;
}

.educationContentTitle {
  font-size: 16px;
}

.educationContentSubTitle {
  font-size: 10px;
  color: "#f2f2f2";
}

.PrimaryColor {
  color: #3497f9;
}

.searchInputBorder {
  border-width: 1px;
  border-color: #3497f9;
  border-style: solid;
}

.header-tabs {
  margin-bottom: 0;
  position: relative;
}

.tabs .tab {
  font-weight: 600;
  color: #9a9a9a;
  cursor: pointer;
  position: relative;
  padding-bottom: 6px;
}

.tabs .tab.active {
  color: #000;
}

.tabs .tab.active::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #339cff;
  border-radius: 2px;
}

hr {
  margin-top: 0;
}

.heading-font {
  font-family: "Oswald";
}

#Fee-Paidcolor {
  color: #969696;
}

#Fee-status {
  color: #27ae60;
}

#Fee-Unpaidstatus {
  color: #ff6558;
}

#Fee-unPaidcolor {
  color: #3497f9;
}


/* Modal css */


.modal-data img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.modal-data input#flexCheckDefault {
  border: 1px solid #969696;
}

.search-field {
  border-radius: 30px;
  border: none;
  padding: 10px 15px;
}

.modal-btn {
  background-color: #3497F9;
}

.modal-title {
  font-size: 14px;
}

/* Modal css end */

.active-link {
  text-decoration: none;
}

.active-link {
  text-decoration: none;
  color: white;
}

.active-link .hover-div {
  background-color: #339cff;
  padding: 5px;
  border-radius: 8px;
  color: white;
}

.inactive-link {
  text-decoration: none;
  color: grey;
}

.hover-div {
  color: grey;
  display: flex;
  align-items: center;
}

.hover-div:hover {
  background-color: #339cff;
  border-radius: 8px;
  color: white;
}

.inactive-link .active-icon:hover {
  color: white;
}


.education-content-info-modal-img-container {
  height: 150px;
}

.education-content-info-modal-img {
  height: 125px;
}

.modal-header {
  background-color: #339cff;
}
.table-header th {
  position: sticky;
  top: 0;
  background: white; /* ya Bootstrap background */
  z-index: 10;
}
